.banner
	nav.slide-menu
		ul.slide-menu__list
			li.slide-menu__item
				a.slide-menu__link(href="#print") Виды печати
			li.slide-menu__item
				a.slide-menu__link(href="#cost") Стоимость
			li.slide-menu__item
				a.slide-menu__link(href="#pay-and-del") Оплата и доставка
			li.slide-menu__item
				a.slide-menu__link(href="#faq") Вопрос-ответ
			li.slide-menu__item
				a.slide-menu__link(href="#checkout") Заказать онлайн
	.container
		.banner__title Широкоформатная печать
		.banner__content
			
			.banner__sub-title Все виды широкоформатной печати
			ul.banner__circ
				li.banner__item Растяжка
				li.banner__item Световые короба
				li.banner__item Вывески
				li.banner__item Штендеры
			.banner__info-online
				.banner__phone +7 (495) 241-96-37
				.button.button_hover
					a.button__text.button__text_padding.button__text_hover(href="#") Оформить онлайн