section.cost.section(id="cost")
	.container
		.section__content
			.section__title Стоимость
			table.cost__table
				tr.cost__table-tr
					td.cost__table-td Материал
					td.cost__table-td 360 dpi
					td.cost__table-td 540 dpi
					td.cost__table-td 720 dpi
					td.cost__table-td 1440 dpi
				tr.cost__table-tr
					td.cost__table-td Китай 440
					td.cost__table-td 240
					td.cost__table-td 250
					td.cost__table-td 250
					td.cost__table-td 645
				tr.cost__table-tr
					td.cost__table-td Европа 440
					td.cost__table-td 260
					td.cost__table-td 295
					td.cost__table-td 388
					td.cost__table-td 700
				tr.cost__table-tr
					td.cost__table-td Европа 510
					td.cost__table-td 280
					td.cost__table-td 310
					td.cost__table-td 388
					td.cost__table-td 760
				tr.cost__table-tr
					td.cost__table-td Банерная сетка
					td.cost__table-td 250
					td.cost__table-td.cost__table-td_default 330
					td.cost__table-td -
					td.cost__table-td -
				tr.cost__table-tr
					td.cost__table-td Бумага Ситилайт
					td.cost__table-td 220
					td.cost__table-td 265
					td.cost__table-td 320
					td.cost__table-td 630
				tr.cost__table-tr
					td.cost__table-td Пленка самооклеющаяся ОРАЖДЕТ
					td.cost__table-td 260
					td.cost__table-td 350
					td.cost__table-td 450
					td.cost__table-td 670
				tr.cost__table-tr
					td.cost__table-td Пленка перфорированная
					td.cost__table-td -
					td.cost__table-td -
					td.cost__table-td 520
					td.cost__table-td 820
				tr.cost__table-tr
					td.cost__table-td Пленка Бэклит без клеевого слоя
					td.cost__table-td -
					td.cost__table-td -
					td.cost__table-td 600
					td.cost__table-td 820
			.cost__block-info
				.cost__info-title Дополнительно
				ul.cost__info-desc
					li.cost__item Стоимость услуг дизайнера (наш дизайнер нарисует для вас макет ли доработает ваш макет)
					li.cost__item Стоимость цветопробы