section.faq.section(id="faq")
	.container
		.section__content
			.section__title Ответы на ваши вопросы
			.faq__answer.answer
				.answer__title Как сделать заказ?
				.answer__collapse 
					a.answer__collapse-link(href="#") свернуть
				.answer__content
					ul.answer__list
						li.answer__item
							.answer__item-title
								.answer__item-number 1.
							.answer__item-desc 
								| У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески,
								| лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование.
								| Если вам нужна оперативная печать полиграфической продукции высочайшего качества,
								| тогда вы попали в нужное место.
						li.answer__item
							.answer__item-title
								.answer__item-number 2.
							.answer__item-desc 
								| Лучшие специалисты. Каждый сотрудник нашего центра обладает хорошим опытом и готов
								| приложить максимум усилий для выполнения вашего заказа. Высокая скорость работы.
						li.answer__item
							.answer__item-title
								.answer__item-number 3.
							.answer__item-desc 
								| Благодаря максимальной автоматизации процесса и тщательной подготовке сотрудников
								| все заказы (оперативная цветная печать, изготовление наружной рекламы) выполняются в
								| минимальные сроки.
			.faq__answer.answer.answer_hidden
				.answer__title Вы осуществляете доставку?
				.answer__collapse 
					a.answer__collapse-link(href="#") свернуть
				.answer__content
					ul.answer__list
						li.answer__item
							.answer__item-title
								.answer__item-number 1.
							.answer__item-desc 
								| У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески,
								| лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование.
								| Если вам нужна оперативная печать полиграфической продукции высочайшего качества,
								| тогда вы попали в нужное место.
						li.answer__item
							.answer__item-title
								.answer__item-number 2.
							.answer__item-desc 
								| Лучшие специалисты. Каждый сотрудник нашего центра обладает хорошим опытом и готов
								| приложить максимум усилий для выполнения вашего заказа. Высокая скорость работы.
						li.answer__item
							.answer__item-title
								.answer__item-number 3.
							.answer__item-desc 
								| Благодаря максимальной автоматизации процесса и тщательной подготовке сотрудников
								| все заказы (оперативная цветная печать, изготовление наружной рекламы) выполняются в
								| минимальные сроки.
			.faq__answer.answer.answer_hidden
				.answer__title Вы разрабатываете дизайн?
				.answer__collapse 
					a.answer__collapse-link(href="#") свернуть
				.answer__content
					ul.answer__list
						li.answer__item
							.answer__item-title
								.answer__item-number 1.
							.answer__item-desc 
								| У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески,
								| лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование.
								| Если вам нужна оперативная печать полиграфической продукции высочайшего качества,
								| тогда вы попали в нужное место.
						li.answer__item
							.answer__item-title
								.answer__item-number 2.
							.answer__item-desc 
								| Лучшие специалисты. Каждый сотрудник нашего центра обладает хорошим опытом и готов
								| приложить максимум усилий для выполнения вашего заказа. Высокая скорость работы.
						li.answer__item
							.answer__item-title
								.answer__item-number 3.
							.answer__item-desc 
								| Благодаря максимальной автоматизации процесса и тщательной подготовке сотрудников
								| все заказы (оперативная цветная печать, изготовление наружной рекламы) выполняются в
								| минимальные сроки.
			.faq__answer.answer.answer_hidden
				.answer__title Какие способы оплаты?
				.answer__collapse 
					a.answer__collapse-link(href="#") свернуть
				.answer__content
					ul.answer__list
						li.answer__item
							.answer__item-title
								.answer__item-number 1.
							.answer__item-desc 
								| У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески,
								| лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование.
								| Если вам нужна оперативная печать полиграфической продукции высочайшего качества,
								| тогда вы попали в нужное место.
						li.answer__item
							.answer__item-title
								.answer__item-number 2.
							.answer__item-desc 
								| Лучшие специалисты. Каждый сотрудник нашего центра обладает хорошим опытом и готов
								| приложить максимум усилий для выполнения вашего заказа. Высокая скорость работы.
						li.answer__item
							.answer__item-title
								.answer__item-number 3.
							.answer__item-desc 
								| Благодаря максимальной автоматизации процесса и тщательной подготовке сотрудников
								| все заказы (оперативная цветная печать, изготовление наружной рекламы) выполняются в
								| минимальные сроки.
			.faq__answer.answer.answer_hidden
				.answer__title Какие сроки производства?
				.answer__collapse 
					a.answer__collapse-link(href="#") свернуть
				.answer__content
					ul.answer__list
						li.answer__item
							.answer__item-title
								.answer__item-number 1.
							.answer__item-desc 
								| У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески,
								| лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование.
								| Если вам нужна оперативная печать полиграфической продукции высочайшего качества,
								| тогда вы попали в нужное место.
						li.answer__item
							.answer__item-title
								.answer__item-number 2.
							.answer__item-desc 
								| Лучшие специалисты. Каждый сотрудник нашего центра обладает хорошим опытом и готов
								| приложить максимум усилий для выполнения вашего заказа. Высокая скорость работы.
						li.answer__item
							.answer__item-title
								.answer__item-number 3.
							.answer__item-desc 
								| Благодаря максимальной автоматизации процесса и тщательной подготовке сотрудников
								| все заказы (оперативная цветная печать, изготовление наружной рекламы) выполняются в
								| минимальные сроки.
			.faq__answer.answer.answer_hidden
				.answer__title Какие требования к макету?
				.answer__collapse 
					a.answer__collapse-link(href="#") свернуть
				.answer__content
					ul.answer__list
						li.answer__item
							.answer__item-title
								.answer__item-number 1.
							.answer__item-desc 
								| У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески,
								| лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование.
								| Если вам нужна оперативная печать полиграфической продукции высочайшего качества,
								| тогда вы попали в нужное место.
						li.answer__item
							.answer__item-title
								.answer__item-number 2.
							.answer__item-desc 
								| Лучшие специалисты. Каждый сотрудник нашего центра обладает хорошим опытом и готов
								| приложить максимум усилий для выполнения вашего заказа. Высокая скорость работы.
						li.answer__item
							.answer__item-title
								.answer__item-number 3.
							.answer__item-desc 
								| Благодаря максимальной автоматизации процесса и тщательной подготовке сотрудников
								| все заказы (оперативная цветная печать, изготовление наружной рекламы) выполняются в
								| минимальные сроки.
			.faq__answer.answer.answer_hidden
				.answer__title Как узнать стоимость продукции?
				.answer__collapse 
					a.answer__collapse-link(href="#") свернуть
				.answer__content
					ul.answer__list
						li.answer__item
							.answer__item-title
								.answer__item-number 1.
							.answer__item-desc 
								| У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески,
								| лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование.
								| Если вам нужна оперативная печать полиграфической продукции высочайшего качества,
								| тогда вы попали в нужное место.
						li.answer__item
							.answer__item-title
								.answer__item-number 2.
							.answer__item-desc 
								| Лучшие специалисты. Каждый сотрудник нашего центра обладает хорошим опытом и готов
								| приложить максимум усилий для выполнения вашего заказа. Высокая скорость работы.
						li.answer__item
							.answer__item-title
								.answer__item-number 3.
							.answer__item-desc 
								| Благодаря максимальной автоматизации процесса и тщательной подготовке сотрудников
								| все заказы (оперативная цветная печать, изготовление наружной рекламы) выполняются в
								| минимальные сроки.
			//- ul.faq__question
			//- 	li.faq__item
			//- 		a.faq__link(href="#") Вы осуществляете доставку?
			//- 	li.faq__item
			//- 		a.faq__link(href="#") Вы разрабатываете дизайн?
			//- 	li.faq__item
			//- 		a.faq__link(href="#") Какие способы оплаты?
			//- 	li.faq__item
			//- 		a.faq__link(href="#") Какие сроки производства?
			//- 	li.faq__item
			//- 		a.faq__link(href="#") Какие требования к макету?
			//- 	li.faq__item
			//- 		a.faq__link(href="#") Как узнать стоимость продукции?