footer.footer
	.container
		.footer__panel-widget
			.footer__block.widget-print
				.widget-print__title Типография
				ul.widget-print__list
					li.widget-print__item
						a.widget-print__link(href="#") О компании
					li.widget-print__item
						a.widget-print__link(href="#") Оборудование
					li.widget-print__item
						a.widget-print__link(href="#") Оплатить заказ
					li.widget-print__item
						a.widget-print__link(href="#") Портфолио
					li.widget-print__item
						a.widget-print__link(href="#") Доставка
					li.widget-print__item
						a.widget-print__link(href="#") Контакты
					li.widget-print__item
						a.widget-print__link(href="#") Статьи
					li.widget-print__item
						a.widget-print__link(href="#") Сотрудничество
					li.widget-print__item
						a.widget-print__link(href="#") FAQ
					li.widget-print__item
						a.widget-print__link(href="#") Дизайн
					li.widget-print__item
						a.widget-print__link(href="#") Требования к макетам
			.footer__block.widget-services
				.widget-services__title Полиграфические услуги
				ul.widget-services__list
					li.widget-services-services__item
						a.widget-services__link(href="#") Визитки
					li.widget-services__item
						a.widget-services__link(href="#") Бланки и самокопирующиеся бланки
					li.widget-services__item
						a.widget-services__link(href="#") Цифровая печать
					li.widget-services__item
						a.widget-services__link(href="#") Наклейки
					li.widget-services__item
						a.widget-services__link(href="#") Объемные буквы
					li.widget-services__item
						a.widget-services__link(href="#") Тампопечать
					li.widget-services__item
						a.widget-services__link(href="#") Календари
					li.widget-services__item
						a.widget-services__link(href="#") Ресторанное меню
					li.widget-services__item
						a.widget-services__link(href="#") Ризография
					li.widget-services__item
						a.widget-services__link(href="#") Вывески
					li.widget-services__item
						a.widget-services__link(href="#") Изготовление печатей
					li.widget-services__item
						a.widget-services__link(href="#") Широкоформатное ламинирование
				ul.widget-services__list
					li.widget-services__item
						a.widget-services__link(href="#") Листовки и флаеры
					li.widget-services__item
						a.widget-services__link(href="#") Бумажные пакеты
					li.widget-services__item
						a.widget-services__link(href="#") Тиснение фольгой
					li.widget-services__item
						a.widget-services__link(href="#") Растяжки
					li.widget-services__item
						a.widget-services__link(href="#") Широкоформатная печать
					li.widget-services__item
						a.widget-services__link(href="#") Штендеры и плоттеры
					li.widget-services__item
						a.widget-services__link(href="#") Буклеты
					li.widget-services__item
						a.widget-services__link(href="#") Брошюры
					li.widget-services__item
						a.widget-services__link(href="#") Авиши
					li.widget-services__item
						a.widget-services__link(href="#") Световые короба
					li.widget-services__item
						a.widget-services__link(href="#") Плоттерная резка
					li.widget-services__item
						a.widget-services__link(href="#") Информационные стенды и таблички
			.footer__block.widget-contacts
				.widget-contacts__title Контакты
				.widget-contacts__desc "Полиграфия от А до Я" - ваш надежный партнер в сфере маркетинга и рекламы
				.widget-contacts__block1
					.widget-contacts__phone +7 (495) 241-96-37
					.widget-contacts__shedule Пн-Сб 10:00 - 19:00  Вс - выходной
					a.widget-contacts__email(href="mailto:7292554@mail.ru") 7292554@mail.ru
				.widget-contacts__block2
					.widget-contacts__adress Москва, м. Дубровка ул. Шарикоподшипниковская, д.13
					a.widget-contacts__link(href="#") Как нас найти
		.footer__map-title Мы на карте
	.footer__map-outer
		.footer__map-inner
			<iframe src="https://yandex.ru/map-widget/v1/-/CBqRb6dZLB" width="560" height="400" frameborder="0"></iframe>