header.header
	.container
		figure.logo
			img.logo__img(src='images/header/header-logo.png', alt='Логотип')
			figcaption.logo__caption Ваш заказ уже сегодня
		.contacts
			.contacts__block1
				.contacts__phone +7 (495) 241-96-37
				.contacts__shedule Пн-Сб 10:00 — 19:00  Вс — выходной
				a.contacts__email(href="mailto:7292554@mail.ru") 7292554@mail.ru
			.contacts__block2
				.contacts__adress Москва, м. Дубровка ул. Шарикоподшипниковская, д.13
				a.contacts__link(href="#") Как нас найти
		.rush-order
			.button
				a.button__text(href="#") Срочный заказ
			a.rush-order__link(href="#") Задать вопрос