nav.nav
	ul.nav__list
		li.nav__item
			a.nav__link(href="#") Печатная продукция
				span.nav__link-img
			ul.dropdown
				li.dropdown__item
					.dropdown__item-title Визитки
				li.dropdown__item
					.dropdown__item-title Календари
					ul.dropdown__item-list
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Календарь - домик
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Календарь перекидной
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Календарь карманных
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Календарь квартальный
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Календарь отрывной
				li.dropdown__item
					.dropdown__item-title Листовки и флаеры
					ul.dropdown__item-list
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Листовки 100х200
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Листовки А4
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Листовки А5
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Листовки А6
				li.dropdown__item
					.dropdown__item-title Буклеты
					ul.dropdown__item-list
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Буркелы А4
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Буклеты А3
				li.dropdown__item
					.dropdown__item-title Меню
				li.dropdown__item
					.dropdown__item-title Брошюры
					ul.dropdown__item-list
						li.dropdown__item-link-item
							a.dropdown__item-link(href="#") Брошюры 99х210
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Брошюры А5
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Брошюры 200х200
				li.dropdown__item
					.dropdown__item-title Афиши
					ul.dropdown__item-list
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Афиша А1/А2
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Афиша А3
				li.dropdown__item
					.dropdown__item-title Бланки и самокопирующеся бланки
					ul.dropdown__item-list
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Бланки А4
						li.dropdown__item-item
							a.dropdown__item-link(href="#") Бланки А5
			li.nav__item
				a.nav__link(href="#") Услуги
					span.nav__link-img
			li.nav__item
				a.nav__link(href="#") Наружная и интерьевная реклама
					span.nav__link-img