section.pay-and-del.section(id="pay-and-del")
	.container
		.section__content.section__content_padding
			.payment
				.section__title Варианты оплаты
				ul.payment__list
					li.payment__item
						.payment__block-img
							img.payment__img(src="images/icons/pay-office.png", alt="В офисе")
						.payment__desc Оплатить в офисе
					li.payment__item
						.payment__block-img
							img.payment__img(src="images/icons/pay-account.png", alt="Расчетный счет")
						.payment__desc Оплатить по расчетному счету
					li.payment__item
						.payment__block-img
							img.payment__img(src="images/icons/pay-card.png", alt="БК")
						.payment__desc Оплатить по карте
					li.payment__item
						.payment__block-img
							img.payment__img(src="images/icons/pay-online.png", alt="Онлайн")
						.payment__desc Оплатить онлайн
			.delivery
				.section__title.section__title_no-line Варианты доставки
				ul.delivery__list
					li.delivery__item
						.delivery__block-img
							img.delivery__img(src="images/icons/del-pickup.png", alt="Самовывоз")
						.delivery__desc Самовывоз из офиса по графику: Пн-Сб: с 10-00 до 19-00
					li.delivery__item
						.delivery__block-img
							img.delivery__img(src="images/icons/del-courier.png", alt="Курьером")
						.delivery__desc Доставка курьером по вашему адресу от 300 руб.