section.popular-circ.section(id="print")
	.container
		.section__content.section__content_padding
			.section__title Популярные тиражи
			ul.popular-circ__list
				li.popular-circ__item
					figure.popular-circ__block
						figcaption.popular-circ__name
							a.popular-circ__link(href="#") Растяжки
						a.popular-circ__link(href="#")
							img.popular-circ__img(src="images/circulation/circ-stretch.jpg", alt="Растяжки")
				li.popular-circ__item
					figure.popular-circ__block
						figcaption.popular-circ__name
							a.popular-circ__link(href="#") Плакаты
						a.popular-circ__link(href="#")
							img.popular-circ__img(src="images/circulation/circ-poster.jpg", alt="Плакаты")
				li.popular-circ__item
					figure.popular-circ__block
						figcaption.popular-circ__name
							a.popular-circ__link(href="#") Пресс-волы
						a.popular-circ__link(href="#")
							img.popular-circ__img(src="images/circulation/circ-press.jpg", alt="Пресс-волы")
				li.popular-circ__item
					figure.popular-circ__block
						figcaption.popular-circ__name
							a.popular-circ__link(href="#") Штендеры
						a.popular-circ__link(href="#")
							img.popular-circ__img(src="images/circulation/circ-pillar.jpg", alt="Штендеры")
				li.popular-circ__item
					figure.popular-circ__block
						figcaption.popular-circ__name
							a.popular-circ__link(href="#") Ролл-апы
						a.popular-circ__link(href="#")
							img.popular-circ__img(src="images/circulation/circ-roll.jpg", alt="Ролл-апы")
				li.popular-circ__item
					figure.popular-circ__block
						figcaption.popular-circ__name
							a.popular-circ__link(href="#") Лайтбоксы
						a.popular-circ__link(href="#")
							img.popular-circ__img(src="images/circulation/circ-litebox.jpg", alt="Лайтбоксы")
				li.popular-circ__item
					figure.popular-circ__block
						figcaption.popular-circ__name
							a.popular-circ__link(href="#") Стенды
						a.popular-circ__link(href="#")
							img.popular-circ__img(src="images/circulation/circ-stand.jpg", alt="Стенды")
				li.popular-circ__item 
					.popular-circ__btn
						a.popular-circ__btn-link(href="#") Оформить индивидуальный заказ