section.portfolio.section
	.container
		.section__content.section__content_portfolio-padding
			.section__title.section__title_color Портфолио
				ul.slider
					li.slider__item
						img.slider__img(src="images/portfolio/portfolio1.jpg", alt="Портфолио 1")
					li.slider__item
						img.slider__img(src="images/portfolio/portfolio2.jpg", alt="Портфолио 1")
					li.slider__item
						img.slider__img(src="images/portfolio/portfolio3.jpg", alt="Портфолио 1")
					li.slider__item
						img.slider__img(src="images/portfolio/portfolio1.jpg", alt="Портфолио 1")
					li.slider__item
						img.slider__img(src="images/portfolio/portfolio2.jpg", alt="Портфолио 1")
					li.slider__item
						img.slider__img(src="images/portfolio/portfolio3.jpg", alt="Портфолио 1")