section.questions.section
	.container
		.section__content
			.section__title.section__title_color Остались вопросы?
			ul.question__contacts.q-contacts
				li.q-contacts__item
					.q-contacts__title Позвоните
					.q-contacts__method +7 (495) 241-96-37
					.q-contacts__block-img
						img.q-contacts__img(src="images/icons/question-call.png", alt="Звонок")
					a.q-contacts__link(href="#")
						span или
						br
						| Закажите обратный звонок
				li.q-contacts__item
					.q-contacts__title Напишите на email
					.q-contacts__method 729554@mail.ru
					.q-contacts__block-img
						img.q-contacts__img(src="images/icons/question-mail.png", alt="Почта")
					a.q-contacts__link(href="#") Мы ответим в течении часа
				li.q-contacts__item
					.q-contacts__title Приезжайте
					.q-contacts__method к нам в офис
					.q-contacts__block-img
						img.q-contacts__img(src="images/icons/question-office.png", alt="Офис")
					a.q-contacts__link(href="#") Схема проезда