section.seo.section
	.container
		.section__content
			ul.seo__list
				li.seo__item
					.seo__title Преимущества широкоформатной печати
					.seo__desc 
						p Когда клиенту понадобится ваш продукт, он извлечет из подсознания яркий плакат,
							| который видел каждый день по дороге на работу, и позвонит вам. Именно так работает
							| широкоформатная печать баннеров.
						.seo__sub-title Преимущества технологии:
						ul
							li — Огромные размеры: яркая, заметная реклама формирует имидж компании и повышает узнаваемость бренда.
							li — Низкая стоимость: реклама на телевидении и в прессе, создание и продвижение сайта стоят дороже.
							li — Работает круглосуточно: баннер, стенд, перетяжка работают на вас 24 часа в сутки, вне зависимости от погодных условий.
							li — Большие дизайнерские возможности: широкоформатная печать баннеров позволяет использовать полную гамму цветов,
								| наносить разные полутона и оттенки, создавать градиентную заливку и т.д.
				li.seo__item
					.seo__title Работа с нами
					.seo__desc 
						.seo__sub-title Сотрудничать с нами выгодно, потому что:
						ul
							li —  Цена печати – одна из самых низких в столице: если вы ищете изготовление
								| уличной рекламы или печать плакатов дешево, то это к нам.
							li — Работаем профессионально: подчеркнем корпоративный стиль, сделаем оригинальный дизайн,
								| с помощью современных плоттеров добьемся высочайшего разрешения до 2880 dpi.
							li — Используем только сертифицированные материалы, чернила без специфического запаха и токсичных выделений.
							li — Принимаем заказы любого объема: от 1 экземпляра до крупного тиража.
							li — Делаем продукцию любого размера: технические ограничения отсутствуют.
							li — Сроки указываете вы: если есть макет, сможете забрать баннер в течение нескольких часов.
				li.seo__item
					.seo__title Срочная широкоформатная печать
					.seo__desc
						p Для тех, кому нужна продукция в экстренном порядке, у нас есть услуга
							| «срочная широкоформатная печать». Изготовим рекламный продукт к началу выставки,
							| конференции, концерта или другого мероприятия за 1-2 часа.
				li.seo__item
					.seo__title Требования к макетам для широкоформатной печати
					.seo__desc
						p Присылайте готовые макеты на адрес 7292554@mail.ru. Если файл большой,
							| можно использовать файлообменник и отправить ссылку на файл.
						p Также мы принимаем макеты в офисе компании по адресу г. Москва,
							| ул. Шарикоподшипниковская, д.13, ТЦ «Дубровка». Загрузите файл на USB Flash-карту,
							| USB внешний жесткий диск, DVD, CD.
						.seo__sub-title Перед отправкой макета ознакомьтесь с требованиями:
						ul
							li — Оптимальный формат – PDF, TIF. Также принимаем CDR, AI, EPS.
							li — Сохранение файла с LZW-компрессией. Не подходят программы Autocad, Microsoft Office.
							li — Каждое изображение для печати в отдельном файле.
							li — Альфа-каналы и пути отсутствуют.
							li — Цветовая палитра: CMYK, 8 bits.
							li — Шрифты в кривых.
							li — Масштаб 1 к 1, припуски отсутствуют.
							li — Разрешение: для 360 dpi – до 80 пикселей/дюйм, для 720 dpi – до 150 пикселей/дюйм.