.top-bar
	.container
		nav.top-nav
			ul.top-nav__list
				li.top-nav__item
					a.top-nav__link(href="#") О компании
				li.top-nav__item
					a.top-nav__link(href="#") Портфолио
				li.top-nav__item
					a.top-nav__link(href="#") Сотрудничество
				li.top-nav__item
					a.top-nav__link(href="#") Требования к макету
				li.top-nav__item
					a.top-nav__link(href="#") Контакты
		.bookmarks
			a.bookmarks__link(href="#") Добавить сайт в закладки