section.video.section
	.container
		.section__content
			.video__block-outer
				.video__block-inner
					img.video__poster(src="images/video/video-poster.jpg", alt="Видео")
					.video__items
						img.video__play(src="images/icons/video-play.png", alt="Начать просмотр")
						.video__play-info Посмотреть процесс широкоформатной печати