.pay-and-del {
	padding-top: 75px;
}

.payment {
	width: 66.67%; // 630 / 945
}

.payment__item {
	float: left;
	width: 50%;
}

.payment__desc {
	padding-right: 30px;
}

.delivery {
	width: 33.33%; // 315 / 945
}

.delivery__item {
 	width: 100%;
}

.payment,
.delivery {
	@extend %clearfix;
	float: left;
}

.payment__list,
.delivery__list {
	margin-top: 35px;
	@extend %clearfix;
}

.delivery__item,
.payment__item {
	@extend %clearfix;
	margin-bottom: 25px;
}

.payment__block-img,
.delivery__block-img {
	width: 117px;
	height: 117px;
	border-radius: 50%;
	background-color: $payanddel-block-bg-color;
	position: relative;
	text-align: center;
	font-size: 0;
	float: left;

	&::before {
		content: " ";
		height: 100%;
		@include inlineblock(middle);
	}
}

.payment__img,
.delivery__img {
	@include inlineblock(middle);
}

.payment__desc,
.delivery__desc {
	color: $payanddel-text-color;
	font-size: 16px;
	font-weight: bold;
	margin-left: 152px;
	padding-top: 20px;
	line-height: 1.2;
}