.section__content {
	padding-left: 210px;
	padding-right: 105px;
	@extend %clearfix;

	@include desktop1 {
		padding-left: 150px;
	}

	@include desktop2 {
		padding-left: 70px;
		padding-right: 70px;
	}
}

.section__content_padding {
	padding-right: 85px;

	@include desktop2 {
		padding-right: 70px;
	}
}

.section__content_portfolio-padding {
	@include desktop2 {
		padding-right: 70px;
	}
}

.section__title {
	color: $popcirc-title-text-color;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 85px;
		height: 3px;
		top: 15px;
		left: -210px;
		background-color: $banner-line-color;

		@include desktop1 {
			left: -150px;
		}

		@include desktop2 {
			left: 0px;
			top: 40px;
		}
	}
}

.section__title_no-line {
	&::before {
		content: none;
	}
}

.section__title_color {
	color: $checkout-title-text-color;
}