.top-bar {
	background-color: $topbar-bg-color;
	border-bottom: 1px solid $topbar-line-color;
}

.top-nav {
	width: 83%; // 1030 / 1240
	float: left;

	@include desktop2 {
		width: 100%;
	}
}

.top-nav__list {
	@extend %clearfix;
}

.top-nav__item {
	float: left;
	margin-right: 56px;
}

.top-nav__link,
.bookmarks__link {
	letter-spacing: 1px;
	padding: 7px 0 10px 0;
	display: block;
	text-transform: uppercase;
	font-size: 12px;

	&:link {
		text-decoration: none;
		color: $topbar-text-color;
	}

	&:visited {
		text-decoration: none;
		color: $topbar-text-color;
	}

	a:active {
		text-decoration: none;
		color: $topbar-text-color;
	}
}

.bookmarks {
	float: right;
	width: 16.9999%; // 210 / 1240
	background: url(../images/icons/tp-star.png) left 45% no-repeat;

	@include desktop2 {
		display: none;
	}
}

.bookmarks__link {
	padding-left: 14px;
}