// Изменение блочной модели
* {
	box-sizing: border-box;
}

/*	Для сохранения поведения лэйаута,
	прибития футера и
	наложения общего бэкграунда
 */
html, body {
	width: 100%;
	height: 100%;
}

// Первоначальные настройки всей страницы
html {
	font-size: 100%;
	font-family: "Segoe UI", "Open Sans", "Lucida Grande", sans-serif;
}

body {
	line-height: 1.42;
	-webkit-font-smoothing: antialiased; // сглаживание шрифтов
	background-color: $page-bg-color;
}

// Встраивается в другие блоки и выравнивает по центру
.container {
	@extend %clearfix;
	margin: 0 auto;
	max-width: $container-width + 40px;
	min-width: 320px;
	padding: 0 20px 0 20px;
	position: relative;
	//outline: 1px solid black; // для отладки
}

// Настройка списка
ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

// Настройка заголовков
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

// Настройка параграфов
p {
	margin: 0;
}

// Настройка изображений
img {
	max-width: 100%;
	height: auto;
}

// Другие настройки
figure {
	margin: 0;
}